    * {
      box-sizing: border-box;
      font-family: Arial, Helvetica, sans-serif;
    }
    body {
      margin: 0;
      min-height: 100vh;
      background: #2c2c2c;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
    }

    .app {
      background: #333232;
      padding: 100px;
      border-radius: 12px;
      width: 100%;
      max-width: 600px;
      box-shadow: 0 0 20px rgba(0,0,0,0.6);
    }

     h1 {
      text-align: center;
      margin-bottom: 10px;
      font-weight: 800;
      font-size: 60px;
    }

    .input-container {
      display: flex;
      gap: 10px;
      margin-bottom: 20px;
    }

    input {
      flex: 1;
      padding: 10px;
      border-radius: 6px;
      border: none;
      outline: none;
      background: #1f1f1f;
      color: #fff;
    }

    button {
      background: #4caf50;
      border: none;
      border-radius: 6px;
      color: white;
      padding: 10px 14px;
      cursor: pointer;
    }

    ul { 
        list-style: none; 
        padding: 0; 
    }

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #1c1c1c;
      margin-bottom: 8px;
      padding: 10px;
      border-radius: 6px;
    }

    li.completed {
      text-decoration: line-through;
      opacity: 0.5;
    }

    .actions button {
      background: transparent;
      color: white;
      font-size: 18px;
      border: none;
      cursor: pointer;
    }